services:
  # proxy:
  gateway:
    image: traefik:v3.6.2
    container_name: traefik
    command:
      - "--api.dashboard=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  group-managment:
    container_name: group-managment
    build:
      context: ./GroupManagment
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgresql+psycopg2://admin:admin@group-db:5432/groupdb
    depends_on:
      - group-db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.group-router.rule=PathPrefix(`/groups`)"
      - "traefik.http.services.group-service.loadbalancer.server.port=80"

  pet-managment:
    container_name: pet-managment
    build:
      context: ./PetManagment
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=postgresql+psycopg2://admin:admin@pet-db:5432/petdb
    restart: unless-stopped
    depends_on:
      - pet-db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pet-router.rule=PathPrefix(`/pet`)"
      - "traefik.http.services.pet-service.loadbalancer.server.port=80"

  user-managment:
    container_name: user-managment
    build:
      context: ./UserManagment
      dockerfile: Dockerfile
    ports:
      - "3001:80"  # Para desarrollo directo sin Traefik
    environment:
      - DATABASE_URL=postgresql+psycopg2://admin:admin@user-db:5432/userdb
    restart: unless-stopped
    depends_on: 
      - user-db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.user-routers.rule=PathPrefix(`/user`)"
      - "traefik.http.services.user-service.loadbalancer.server.port=80"
      - "traefik.http.middlewares.strip-user.stripprefix.prefixes=/user"
      - "traefik.http.routers.user-routers.middlewares=strip-user"

  sharing-service:
    container_name: sharing-service
    build:
      context: ./SharingService
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=postgresql+psycopg2://admin:admin@sharing_db:5432/sharingdb
    restart: unless-stopped
    depends_on:
      - sharing_db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sharing-routers.rule=PathPrefix(`/sharing`)"
      - "traefik.http.services.sharing-service.loadbalancer.server.port=80"


  message-queue:
    container_name: message-queue
    image: rabbitmq:4.1.5-management-alpine


  sharing_db:
    image: postgres:17-alpine
    container_name: postgres-sharing
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: sharingdb
    volumes:
      - postgres_sharing_data:/var/lib/postgresql/data
    restart: unless-stopped

  group-db:
    image: postgres:17-alpine
    container_name: postgres-group
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: groupdb
    volumes:
      - postgres_group_data:/var/lib/postgresql/data
    restart: unless-stopped

  pet-db:
    image: postgres:17-alpine
    container_name: postgres-pet
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: petdb
    volumes:
      - postgres_pet_data:/var/lib/postgresql/data
    restart: unless-stopped

  user-db:
    image: postgres:17-alpine
    container_name: postgres-user
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: userdb
    volumes:
      - postgres_user_data:/var/lib/postgresql/data
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    ports:
      - "9090:9090"
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    restart: unless-stopped

volumes:
  prometheus_data:
  grafana_data:
  postgres_sharing_data:
  postgres_group_data:
  postgres_pet_data:
  postgres_user_data:
