services:
  # proxy:
  gateway:
    image: traefik:v3.1
    container_name: traefik
    command:
      - "--api.dashboard=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  group-managment:
    container_name: group-managment
    build:
      context: ./GroupManagment
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - group-dbMongo
      - group-dbSQL

  pet-managment:
    container_name: pet-managment
    build:
      context: ./PetManagment
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - pet-db

  user-managment:
    container_name: user-managment
    build:
      context: ./UserManagment
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on: 
      - user-db

  sharing-service:
    container_name: sharing-service
    build:
      context: ./SharingService
      dockerfile: Dockerfile
    restart: unless-stopped


  message-queue:
    container_name: message-queue
    image: rabbitmq:4.1.5-management-alpine


  group-dbMongo:
    image: mvertes/alpine-mongo:4.0.6-1
    container_name: group-dbMongo
    volumes:
      - mongo_dataDB:/data/db
    restart: unless-stopped

  group-dbSQL:
    image: postgres:17-alpine
    container_name: postgres-group
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: groupdb
    volumes:
      - postgres_group_data:/var/lib/postgresql/data
    restart: unless-stopped

  pet-db:
    image: postgres:17-alpine
    container_name: postgres-pet
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: petdb
    volumes:
      - postgres_pet_data:/var/lib/postgresql/data
    restart: unless-stopped

  user-db:
    image: postgres:17-alpine
    container_name: postgres-user
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: userdb
    volumes:
      - postgres_user_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  mongo_dataDB:
  postgres_group_data:
  postgres_pet_data:
  postgres_user_data:
