services:
  # proxy:
  gateway:
    image: traefik:v3.1
    container_name: traefik
    command:
      - "--api.dashboard=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock



  group-managment:
    container_name: group-managment
    build:
      context: ./GroupManagment
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - group-db 

  pet-managment:
    container_name: pet-managment
    build:
      context: ./PetManagment
      dockerfile: Dockerfile
    restart: unless-stopped

  user-managment:
    container_name: user-managment
    build:
      context: ./UserManagment
      dockerfile: Dockerfile
    restart: unless-stopped

  sharing-service:
    container_name: sharing-service
    build:
      context: ./SharingService
      dockerfile: Dockerfile
    restart: unless-stopped



  group-db:
    image: mongo:7.0.11
    container_name: mongo-group
    volumes:
      - mongo_dataDB:/data/db
    restart: unless-stopped
  # pet-db:
  # user-db:
  
volumes:
  mongo_dataDB:
