services:
  # proxy:
  gateway:
    image: traefik:v3.1
    container_name: traefik
    command:
      - "--api.dashboard=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  group-managment:
    container_name: group-managment
    build:
      context: ./GroupManagment
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgresql+psycopg2://admin:admin@group-db:5432/groupdb
    depends_on:
      - group-db

  pet-managment:
    container_name: pet-managment
    build:
      context: ./PetManagment
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=postgresql+psycopg2://admin:admin@pet-db:5432/petdb
    restart: unless-stopped
    depends_on:
      - pet-db

  user-managment:
    container_name: user-managment
    build:
      context: ./UserManagment
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=postgresql+psycopg2://admin:admin@user-db:5432/userdb
    restart: unless-stopped
    depends_on: 
      - user-db

  sharing-service:
    container_name: sharing-service
    build:
      context: ./SharingService
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=postgresql+psycopg2://admin:admin@sharing_db:5432/sharingdb
    restart: unless-stopped
    depends_on:
      - sharing_db


  message-queue:
    container_name: message-queue
    image: rabbitmq:4.1.5-management-alpine


  sharing_db:
    image: postgres:17-alpine
    container_name: postgres-sharing
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: sharingdb
    volumes:
      - postgres_sharing_data:/var/lib/postgresql/data
    restart: unless-stopped

  group-db:
    image: postgres:17-alpine
    container_name: postgres-group
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: groupdb
    volumes:
      - postgres_group_data:/var/lib/postgresql/data
    restart: unless-stopped

  pet-db:
    image: postgres:17-alpine
    container_name: postgres-pet
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: petdb
    volumes:
      - postgres_pet_data:/var/lib/postgresql/data
    restart: unless-stopped

  user-db:
    image: postgres:17-alpine
    container_name: postgres-user
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: userdb
    volumes:
      - postgres_user_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_sharing_data:
  postgres_group_data:
  postgres_pet_data:
  postgres_user_data:
