name: Python Ruff Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project:
          - PetManagment/app
          - GroupManagment/app
          - SharingService/app
          - UserManagment/app
    name: Lint ${{ matrix.project }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install Ruff
        run: pip install ruff

      - name: Run Ruff Lint
        run: ruff check ./${{ matrix.project }}
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project:
          - PetManagment
    name: Test ${{ matrix.project }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install project dependencies
        working-directory: ./${{ matrix.project }}
        run: uv sync

      - name: Run pytest via uv
        working-directory: ./${{ matrix.project }}
        run: uv run pytest

